<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
	I am making the “leap” into my passion career: Computer programming. 
	You’ll see 6+ years of two successful careers in law and real estate on my resume. 
	During that entire time, I spent almost every free moment learning to program because I quickly learned that I love it. 
	Now I want to work in doing what I love.
        	</p>
        	<p>
	My primary goal is to get my first job as an entry level computer programmer working with some of the best minds in this field 
	so I can learn to be the best. Although my focus is still pretty general at this early stage, I do know that I like building 
	practical programs to help people be more productive. My projects are tools I built for myself to serve that purpose. 
	Although I have bills to pay like anyone else, financial goals are secondary to my primary goal of working with those who are 
	incredibly passionate about this field, like me.
        	</p>
		<p>
	I have studied through various resources and spent countless hours to develop the computer programming skills I have now. 
	I also have been guided by a great mentor and senior software developer in the last six months regarding the practical skills of the job like using terminal commands and a version control system like git. I am a “beginner” who is still learning, but I am an ego-less, high work-ethic learner. I strongly believe I will be valuable to a company on day one.
        	</p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
          		<li>
	<b>Built Two Fully-Functional Programs:</b> "Type R Tracker" is built in Python and "Things That Work, Things That Don't" 
	is built in Php and MySQL. Both are fully-functional, fast programs that work exactly as designed. I believe in finished,
	polished products.
			</li>
		    	<li>
	<b>Proven Success in Business Goals:</b> For the last 6-7 years, I excelled practicing law in California and selling luxury real
	estate in Arizona. I have already built strong skills in working with teams, meeting deadlines, achieving group goals,
	performing under pressure and producing with and without supervision.
			</li>
		    	<li>
	<b>Work Ethic Translatable to Programming:</b> I graduated from one of the top law schools in the country, passed two Bar Exams 
	and am a licensed attorney in California and Arizona. The analytical skills and work ethic gained from that pursuit is primarily
	what has allowed me to successfully build my current software programming abilities through mostly self-guided learning.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
