<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Building Practical Things</b>. Whether it's building software or programming hardware, I like working
				  on things that work intuitively and help people in their personal and/or professional lives.
			  </li>
			  <li>
				  <b>Techincal Street Skateboarding</b>. For over 20 years I have skateboarded and have reached relatively 
				  highly levels of techincal street skating (360 flips, varial kickflips, kick/heel flips, etc.). This my
				  earliest passion in engineering through techincal design and I still skate regularly.
			  </li>
			  <li>
				  <b>Physical Fitness</b>. I focus on my body feeling healed and filled with energy. This includes journeys
				  in constantly trying to refine my exercise, eating and sleeping routines. I love collaborating with others
				  on their similar journeys, as well.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
	<ul>
		<li>
			<b>Type R Tracker:</b> Built with Python, this program quickly returns listing, price and location of new/used 
			Honda Civic Type R vehicles in the US. It then calculates and returns an average listing price. Code and thorough
			comments can be found at: <a href= https://github.com/builtthorough/typertracker>https://github.com/builtthorough/typertracker</a>
    		</li>
		<li>
			<b>Things That Work, Things That Don’t:</b> Built  using Php and MySQL, this program databases beneficial and 
			non-beneficial lessons learned as you progress in learning a new skill for “self-coaching” reference. Code and 
			thorough comments can be found at: <a href= https://github.com/builtthorough/ttwttd>ttps://github.com/builtthorough/ttwttd</a>	
		</li>
		<li>
			<b>How To Design Programs:</b> I have written over 50 tested and functional programs in Dr Racket 
			per exercises in this book and continue to work through it to further my skills. Code and thorough comments 
			can be found at: <a href= https://github.com/builtthorough/htdp>https://github.com/builtthorough/htdp</a>
		</li>
	</ul>
  		    <h3>Other Things</h3>
	<ul>
		<li>
			Active Licensed Attorney in California and Arizona
		</li>
		<li>
			Active Licensed Realtor in Arizona
		</li>
	</ul>
      </div>
    </div>
  </div>
</section>
